{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

{%- style -%}
  .section-{{ section.id }} {
    position: relative;
  }
  {%- if section.settings.slide_height == 'adapt_image' and section.blocks.first.settings.image != blank -%}
    @media screen and (max-width: 749px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before,
      #Slider-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endif -%}
{%- endstyle -%}

<div class="section-{{ section.id }} {% if section.settings.layout == 'grid' %} page-width{% endif %}{% if section.settings.show_text_below %} mobile-text-below{% endif %}">
  <div
    class="slideshow banner banner--{{ section.settings.slide_height }} swiper{% if section.settings.show_text_below %} banner--mobile-bottom{% endif %}{% if section.blocks.first.settings.image == blank %} slideshow--placeholder{% endif %}"
    id="Slider-{{ section.id }}"
  >
    <div class="swiper-wrapper">
      {%- for block in section.blocks -%}
        <div class="swiper-slide">
        <div
          class="slideshow__slide slider__slide ovlshw_{{block.settings.opacity_effect}}"
          id="Slide-{{ section.id }}-{{ forloop.index }}"
          {{ block.shopify_attributes }}
          role="group"
          aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
          aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
          tabindex="-1"
        >
          <div class="slideshow__media banner__media media{% if block.settings.image == blank %} placeholder{% endif %}">
            {%- if block.settings.main_bg or block.settings.main_video_bg -%}
              {% if forloop.first %}
                {% render 'ctm-media',
                  class: 'ctm_ssow_top',
                  video: block.settings.main_video_bg,
                  mob_video: block.settings.mob_video_bg,
                  image: block.settings.main_bg,
                  mob_image: block.settings.main_mobile_bg,
                  enable_looping: block.settings.enable_video_looping,
                  heading: block.settings.heading,
                  loading: 'eager',
                  fetchpriority: 'high'
                %}
              {% else %}
                {% render 'ctm-media',
                  class: 'ctm_ssow_top',
                  video: block.settings.main_video_bg,
                  mob_video: block.settings.mob_video_bg,
                  image: block.settings.main_bg,
                  mob_image: block.settings.main_mobile_bg,
                  enable_looping: block.settings.enable_video_looping,
                  heading: block.settings.heading,
                  loading: 'lazy',
                  fetchpriority: 'auto'
                %}
              {% endif %}
            {%- else -%}
              {%- assign placeholder_slide = forloop.index | modulo: 2 -%}
              {%- if placeholder_slide == 1 -%}
                {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- else -%}
                {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            {%- endif -%}
          </div>
          <div class="slideshow__text-wrapper banner__content banner__content--{{ block.settings.box_align }} page-width{% if block.settings.show_text_box == false %} banner--desktop-transparent{% endif %}">
            <div class="slideshow__text banner__box content-container content-container--full-width-mobile color-{{ block.settings.color_scheme }} slideshow__text--{{ block.settings.text_alignment }} slideshow__text-mobile--{{ block.settings.text_alignment_mobile }}">
              {%- if block.settings.heading != blank -%}
                {% if block.settings.heading_size == 'h1' %}
                  <h1 class="banner__heading inline-richtext">{{ block.settings.heading }}</h1>
                {% else %}
                  <h2 class="banner__heading inline-richtext">{{ block.settings.heading }}</h2>
                {% endif %}
              {%- endif -%}
              {%- if block.settings.subheading != blank -%}
                <div class="banner__text rte">
                  {{ block.settings.subheading }}
                </div>
              {%- endif -%}
              {%- if block.settings.button_label != blank or block.settings.sbutton_label != blank -%}
                <div class="banner__buttons">
                  <a
                    {% if block.settings.link %}
                      href="{{ block.settings.link }}"
                    {% else %}
                      role="link" aria-disabled="true"
                    {% endif %}
                    class="button button--primary"
                  >
                    {{- block.settings.button_label | escape -}}
                  </a>
                  <a
                    {% if block.settings.slink %}
                      href="{{ block.settings.slink }}"
                    {% else %}
                      role="link" aria-disabled="true"
                    {% endif %}
                    class="button button--secondary"
                  >
                    {{- block.settings.sbutton_label | escape -}}
                  </a>
                </div>
              {%- endif -%}
            </div>
          </div>
          <style>
            {% if block.settings.opacity_effect == 'fullscreen' %}
            #Slide-{{ section.id }}-{{ forloop.index }} .banner__media::after {
              opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
            }
            {% endif %}
            @media (max-width: 749px){
              {% if block.settings.mobile_overlay == true %}
               #Slide-{{ section.id }}-{{ forloop.index }} .banner__media::after {
                opacity: 1;
                background: #0009;
              }
              {% else %}
               #Slide-{{ section.id }}-{{ forloop.index }} .banner__media::after {
                opacity: 0;
              }
              {% endif %}
            }
            {% if block.settings.shadow_color == true %}
              #Slide-{{ section.id }}-{{ forloop.index }} h1,
              #Slide-{{ section.id }}-{{ forloop.index }} h2,
              #Slide-{{ section.id }}-{{ forloop.index }} p {
                -webkit-text-stroke: 2px {{ block.settings.text_shadow_color }};
                text-shadow: 0 0 2px {{ block.settings.text_shadow_color }}, 0 0 10px {{ block.settings.text_shadow_color }}, 0 0 2px {{ block.settings.text_shadow_color }}, 0 0 5px {{ block.settings.text_shadow_color }};
              }
            {%endif %}
          </style>
        </div>
        </div>
      {%- endfor -%}
    </div>
    </div>
    {%- if section.settings.show_slider_nav == true -%}
      <div class="swiper-button-prev">{{- 'icon-caret.svg' | inline_asset_content -}}</div>
      <div class="swiper-button-next">{{- 'icon-caret.svg' | inline_asset_content -}}</div>
    {% endif %}
    {%- if section.settings.slider_dots == true -%}<div class="swiper-pagination"></div>{% endif %}
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  new Swiper('.section-{{ section.id }} .slideshow', {
        loop: true,
        slidesPerView: 1,
        autoplay: {{section.settings.auto_rotate}},{%- if section.settings.auto_rotate == true -%}
        speed: 700,
        autoplay: {
          delay: {{ section.settings.change_slides_speed }}000
        },{% endif %}
        {%- if section.settings.show_slider_nav == true -%}
          navigation: {
            nextEl: '.section-{{ section.id }} .swiper-button-next',
            prevEl: '.section-{{ section.id }} .swiper-button-prev',
        },{% endif %}
        {%- if section.settings.slider_dots == true -%} pagination: {
            el: '.section-{{ section.id }} .swiper-pagination',
            clickable: true
        }{% endif %}
    });
</script>

{% schema %}
{
  "name": "t:sections.slideshow.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full_bleed",
          "label": "t:sections.slideshow.settings.layout.options__1.label"
        },
        {
          "value": "grid",
          "label": "t:sections.slideshow.settings.layout.options__2.label"
        }
      ],
      "default": "full_bleed",
      "label": "t:sections.slideshow.settings.layout.label"
    },
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.slideshow.settings.slide_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.slideshow.settings.slide_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.slideshow.settings.slide_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.slideshow.settings.slide_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.slideshow.settings.slide_height.label"
    },
    {
      "type": "checkbox",
      "id": "show_slider_nav",
      "label": "Show slider navigation",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "slider_dots",
      "label": "Show slider navigation dots",
      "default": true
    },
    {
      "type": "select",
      "id": "slider_visual",
      "options": [
        {
          "value": "dots",
          "label": "t:sections.slideshow.settings.slider_visual.options__2.label"
        },
        {
          "value": "counter",
          "label": "t:sections.slideshow.settings.slider_visual.options__1.label"
        },
        {
          "value": "numbers",
          "label": "t:sections.slideshow.settings.slider_visual.options__3.label"
        }
      ],
      "default": "counter",
      "label": "slider navigation style",
      "visible_if": "{{ section.settings.show_slider_nav == true }}"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 5,
      "visible_if": "{{ section.settings.auto_rotate == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.mobile.content"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "label": "t:sections.slideshow.settings.show_text_below.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.accessibility.content"
    },
    {
      "type": "text",
      "id": "accessibility_info",
      "label": "t:sections.slideshow.settings.accessibility.label",
      "info": "t:sections.slideshow.settings.accessibility.info",
      "default": "t:sections.slideshow.settings.accessibility.default"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 5,
      "settings": [
        {
          "type": "select",
          "id": "vid_image",
          "options": [
            {
              "value": "image",
              "label": "Image"
            },
            {
              "value": "video",
              "label": "Video"
            }
          ],
          "default": "image",
          "label": "Select an image or video for background",
          "info": "Adding video will replace background with an image"
        },
        {
          "type": "image_picker",
          "id": "main_bg",
          "label": "Background image",
          "visible_if": "{{ block.settings.vid_image == 'image' }}"
        },
        {
          "type": "image_picker",
          "id": "main_mobile_bg",
          "label": "Mobile Background image",
          "visible_if": "{{ block.settings.vid_image == 'image' }}",
          "info": "If this image is not added, the desktop image will be used automatically."
        },
        {
          "type": "checkbox",
          "id": "enable_video_looping",
          "label": "Video playing in the loop",
          "default": false,
          "visible_if": "{{ block.settings.vid_image == 'video' }}"
        },
        {
          "type": "video",
          "id": "main_video_bg",
          "label": "Video",
          "visible_if": "{{ block.settings.vid_image == 'video' }}"
        },
        {
          "type": "video",
          "id": "mob_video_bg",
          "label": "Responsive Video",
          "visible_if": "{{ block.settings.vid_image == 'video' }}",
          "info": "If this video is not added, the desktop video will be used automatically."
        },
        {
          "type": "select",
          "id": "opacity_effect",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "ltr",
              "label": "Left to Right"
            },
            {
              "value": "rtl",
              "label": "Right to Left"
            },
            {
              "value": "fullscreen",
              "label": "All over banner"
            }
          ],
          "default": "none",
          "label": "Banner overlay effect",
          "info": "Select an effect to add an overlay on the banner image for desktop screens."
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 90,
          "step": 5,
          "unit": "%",
          "label": "t:sections.slideshow.blocks.slide.settings.image_overlay_opacity.label",
          "default": 0,
          "visible_if": "{{ block.settings.opacity_effect == 'fullscreen' }}"
        },
        {
          "type": "checkbox",
          "id": "mobile_overlay",
          "label": "Show overlay over banner in Mobile",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide.settings.header_text.content"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.slideshow.blocks.slide.settings.heading.default",
          "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "default": "t:sections.slideshow.blocks.slide.settings.subheading.default",
          "label": "t:sections.slideshow.blocks.slide.settings.subheading.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "checkbox",
          "id": "shadow_color",
          "label": "Text Shadow Color Apply",
          "default": false
        },
        {
          "type": "color",
          "id": "text_shadow_color",
          "label": "Text Shadow Color",
          "visible_if": "{{ block.settings.shadow_color == true }}"
        },
        {
          "type": "header",
          "content": "Primary Button"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.slideshow.blocks.slide.settings.button_label.default",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "header",
          "content": "Secondary Button"
        },
        {
          "type": "text",
          "id": "sbutton_label",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "slink",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide.settings.header_layout.content"
        },
        {
          "type": "checkbox",
          "id": "show_text_box",
          "label": "t:sections.slideshow.blocks.slide.settings.show_text_box.label",
          "default": true
        },
        {
          "type": "select",
          "id": "box_align",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__1.label"
            },
            {
              "value": "top-center",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__2.label"
            },
            {
              "value": "top-right",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__3.label"
            },
            {
              "value": "middle-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__4.label"
            },
            {
              "value": "middle-center",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__5.label"
            },
            {
              "value": "middle-right",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__6.label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__7.label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__8.label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__9.label"
            }
          ],
          "default": "middle-center",
          "label": "t:sections.slideshow.blocks.slide.settings.box_align.label"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_1.label"
            },
            {
              "value": "center",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_2.label"
            },
            {
              "value": "right",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.label"
        },
        {
          "type": "select",
          "id": "text_alignment_mobile",
          "options": [
            {
              "value": "left",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
